<form action="/Superheroe/add" method="post">
	<fieldset>
		<legend>Registrar nuevo superheroe</legend>
		<label>Nombre</label>
		<input type="text" name="alias">
		<br><br>
		<label>Id</label>
		<input type="text" name="id">
		<br><br>
		<label>Is</label>
		<input type="text" name="is">
		<br><br>
		<label>Origen</label>
		<input type="text" name="origen">
		<br><br>
		<label>Afiliacion</label>
		<input type="text" name="afilicacion">
		<br><br>
		<label>Inteligencia</label>
		<input type="text"  name="inteligencia">
		<br><br>
		<label>Fuerza</label>
		<input type="text"  name="fuerza">
		<br><br>
		<label>Velocidad</label>
		<input type="text" name="velocidad">
		<br><br>
		<label>Resistencia</label>
		<input type="text" name="resistencia">
		<br><br>
		<label>Proyeccion de energia</label>
		<input type="text" name="proyeccionDeEnergia">
		<br><br>
		<label>Habilidad de lucha</label>
		<input type="text" name="habilidadLucha">
		<br><br>
		<label>Raza</label>
		<input type="text" name="raza">
		<br><br>
		<button>Crear superheroe</button>
	</fieldset>
</form>