<div>
  <img
    src="https://raw.githubusercontent.com/TridenteEuropeo/PaginaConex/main/imagenes/texto1.jpg"
    class="card-img-top"
    alt="..."
  />
</div>
<br /><br />

<form method="get" action="https://alex-toledano.gitbook.io/untitled/">
   <div class="btnposition">
   <center><button type="button" class="btn btn-primary">Gitbook</button></center>
   </div>
</form>