.body {
    background: url("https://raw.githubusercontent.com/TridenteEuropeo/PaginaConex/main/imagenes/fondo.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }
 