<header>
    <a href="https://www.marvel.com/" target="_blanck" class="marvel">
		<img src="https://raw.githubusercontent.com/TridenteEuropeo/PaginaConex/main/imagenes/Marvel_logo.png">
	</a>	
	    <div class="wrapper">
	        <nav>
	            <label for="Informacion"><a href="/"><Font Color = "white">Informacion</Font></a></label>
                <label for="Registrarse"><a href="/formulario"><Font Color = "white">Formulario</Font></a></label>
                <label for="Superheroes"><a href="/personajes"><Font Color = "white">Personajes</Font></a></label>
	        </nav>
	    </div>	
    <a href="https://www.youtube.com/watch?v=oGwJD6Vhm3w" target="_blanck" class="logo">
        <img src="https://raw.githubusercontent.com/TridenteEuropeo/PaginaConex/main/imagenes/logo.jpg">
    </a>
</header>

<!-- 

    <h1>Menú</h1>

    <ul>
    <li><a href="/">Información</a></li>
    <li><a href="/formulario">Formulario para registrarse</a></li>
    <li><a href="/personajes">Superheroes</a></li>
    </ul>

-->